/* table {
    table-layout: fixed;
    width: 100%;
} */
/* .table{
} */

/* .table-wrapper {
    width: 100%;
    overflow-x: auto;
} */
/* 
thead, tbody {
    margin: 0;
    padding: 0;
    width: fit-content;
} */

/* 
*/
.database-container {
    margin-top: 75px;
    margin-inline: auto;
}

.max-width-96 {
    max-width: 96%;
}
.max-width-80 {
    max-width: 80%;
}

.max-width-70 {
    max-width: 70%;
}

.max-width-50 {
    max-width: 50%;
}

/*
table {
    table-layout: auto;
} */

.custom-table> :not(caption)>*>* {
    padding-inline: 0px;
}

.custom-table th,
.custom-table td {
    text-align: left;
    vertical-align: middle;
}

.custom-table td {
    white-space: nowrap;
}

.custom-table th {
    margin-right: 2px;
}

.custom-table thead {
    /* border: 1px; */
    background-color: rgba(9, 158, 238, 0.064);
    /* border-color: rgba(3, 119, 182, 0.378); */
}


/* after last commit  + bordered and striped*/


.custom-table td,
.custom-table th {
    text-align: left;
    padding: 8px;
}

.custom-table th {
    /* display: flex;
    flex-direction: row; */
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 10px;
    background-color: #1380e7;
    color: white;
    font-weight: 700;
}

.custom-table tr {
    border-bottom: 1px solid #ddd;
}

.custom-table tr:hover,
.custom-table tr:focus,
.custom-table tr:active {
    background-color: #d7eaff;
}

.custom-table tr:focus {
    background-color: #d7eaff;
}

.custom-table {
    font-size: 16px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border-spacing: 0;
    line-height: 1.5;
    font-weight: 400;

    margin: 20px 0;
    padding-left: 10px;

    border: 1px solid #ccc;
}

.custom-table td.buttons-column,
.custom-table th.buttons-column {
    text-align: center;
}

Table thead {
    position: sticky;
    top: 55px;
    margin: 0 0 0 0;
}

#search-button {
    background-color: #cfe5f7;
}

#search-button:hover {
    background-color: #60b7ff;
}

@font-face {
    font-family: 'Roboto';
    src: url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
}

.padding-for-elements td,
.padding-for-elements th,
.padding-for-elements th {
    padding-right: 40px;
    padding-left: 40px;
}

.max-width-70 td,
.max-width-70 th,
.max-width-70 th {
    padding-right: 20px;
    padding-left: 30px;
}

.modal-body #datepicker{
    width: 100%;
}
.modal-body .react-datepicker-wrapper {
    width: 100%;
}

.modal-body .form-control, .modal-body #datepicker{
    margin-bottom: 8px;
}