.max-width-full {
    max-width: 96%;
    margin: auto;
    padding-block: 0px;
}

.navbar {
    padding: 0px;
    padding-top: 1px;
    font-size: 16px;
}

.justify-content-end .navbar-text {
    color: black;
    font-weight: 600;
    font-size: 16px;
}

.nav-link {
    margin-right: 25px;
    font-weight: 500;
    color: rgb(93, 83, 83);
}

.half-opacity-background{
    background: rgba(255, 255, 255, 0.878);
}

@media (max-width: 1240px) {
    .nav-link{
        margin-right: 5px;
    }
    .navbar {
        font-size: 15.5px;
    }
}

.navbar-text a{
    color: rgb(30, 55, 153);
}