.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* background-color: rgba(179, 240, 255, 0.393); */
}

.form-control:invalid {
    padding-right: 0px;
}
.darker-color{
    background-color: rgb(37, 68, 194);
    border-color: rgb(4, 4, 184);
}

.info-form {
    width: max(30px, 20%);
    /* padding: max(40px, 4%); */
    border-radius: 0px;
    /* background-color: var(--form-bg-color); */
    /* box-shadow: 0 6px 8px rgba(0, 0, 0, 0.292); */
    margin-top: 10px;
}

.info-group {
    text-align: left;
}

.info-form h2 {
    margin-bottom: max(8vh, 10px);
    color: var(--text-color);
}

.info-form label {
    font-weight: bold;
    
    text-align: left;
    /* margin-left: 15%; */
    /* font-weight: bold; */
    color: var(--text-color);
    /* margin-bottom: 5px; */
}
 
.info-form .form-control{
    border: 0px;
    border-bottom: 1px solid var(--input-border-color);
    border-radius: 0px;
    padding: 10px;
    margin: auto;
    margin-bottom: 10px;
}